body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    <img>('572018-lakshmi.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background: url('572018-lakshmi.webp') no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: black;
}

#message {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#yesButton {
    background-color: green;
    color: white;
}

#noButton {
    background-color: red;
    color: white;
}

#responseMessage {
    font-size: 18px;
    margin-top: 20px;
}
